.main-content {
    margin-left: 450px;
     padding: 0 50px 50px;

    flex: 1;

}


section {
    margin-bottom: 80px;
    scroll-margin-top: 120px;
      animation: navbarEntrance 0.8s ease-out;
}

section > h2 {
    position: relative;

    margin-bottom: 40px;

    color: var(--text-primary);

    font-size: 32px;
}


section > h2::after {
    content: '';

    position: absolute;

    left: 0;
    bottom: -10px;

    width: 50px;
    height: 4px;

    background: var(--gradient-main);

    border-radius: 10px;
}